ion-content ion-toolbar {
  --background: translucent;
}


#horizontalContainer {
  height:200px; /* 40px - more place for scrollbar, is hidden under parent box */
  overflow-x: hidden;
  overflow-y: scroll;
}

.fileContainer{

}

.listContainer{
  
}

#myFixZone {
  height: 200px;
}
